.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 4rem;
}

.product-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  font-weight: 800;
}
